.product {
    margin:30px auto auto auto  ;
    display: flex;
    width: 70%;
}
.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.product-img {
    width: 306px;
    height: 409px;
    display: flex;
    margin: auto;
    position: relative;
}
.product-img__icon {
    background-color: var(--white--color);
    width: 216px;
    height: 50px;
    position: absolute;
    bottom: 7%;
    left: 15%;
    /* display: flex; */
    justify-content: center;
    display: none;
}
.product-img:hover .product-img__icon {
    display: flex;
}
.product-img__sale {
    position: absolute;
    width: 40px;
    height: 15px;
    border-radius: 6px;
    background-color: #E56D6D;
    color: var(--white--color);
    top: 10px;
    left: 13px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 11px;
}
.product-box {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.product-name {
    color: #E8C592;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.product-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--black--color);
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.product-icon {
    display: flex;
    justify-content: center;
}
.product-number{
    display: flex;
    font-size: 14px;
    opacity: 0.7;
}
.product-price {
    color: #E56D6D;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    display: flex;
    justify-content: center;
}
.product-price-old {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    margin-right: 5px;
    text-decoration: line-through;
    margin-left: 5px;
}
.product-price-new {
    color: #E8C592;
}