/* header  */
.header {
    width: 100%;
    margin-top: 22px;
    background-color: var(--white--color);
    height: 110px;
}
.line {  
    /* border: none;*/
    height: 1px;    
    background-color: #000; 
    margin: 20px 0 20px 0;    
}
/* end header  */

/* box image  */
/* end box image  */

.image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}

.image-box {
    width: 1290px;
    height: 300px;
    margin: 30px auto auto auto;
    background-image: url('../../assets/images/image-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 1290px 300px;
}
.image-box__content {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    padding-left: 95px;
}
.image-box__content-content {
    width: 50%;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
    margin-bottom: 50px;
}
.image-box__content-shopnow {
    font-size: 15px;
    font-weight: 600;
    position: relative;
}




.image-8 {
    width: 100%;
    height: 990px;
    background-image: url('../../assets/images/image-8.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-9 {
    width: 414px;
    height: 553px;
    background-image: url('../../assets/images/image-9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-10 {
    width: 100%;
    height: 990px;
    background-image: url('../../assets/images/image-10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.from-search {
    display: flex;
}
.search {
    width: 470px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin: 30px auto auto auto ;
}
