/* header  */
.header {
    width: 100%;
    margin-top: 22px;
    background-color: var(--white--color);
    height: 110px;
}
.header__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header__top-phone {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    flex: 1;
    justify-content: center;
    font-family: "Be Vietnam Pro", sans-serif;
}
.header__top-shopio {
    display: flex;
    font-size: 25px;
    font-weight: 800;
    flex: 1;
    justify-content: center;
    font-family: "Be Vietnam Pro", sans-serif;
}
.header-icon {
    display: flex;
    flex: 1;
    justify-content: center;
}
.icon {
    margin-left: 10px;
}
.line {  
    /* border: none;*/
    height: 1px;    
    background-color: #000; 
    margin: 20px 0 20px 0;    
}

.header__menu {
    display: flex;
    justify-content: center;
    
}
.header__menu-title {
    font-size: 15px;
    font-weight: 500;
    margin: auto 20px;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 18px;
}
.tag {
    position: relative;
}
.featured {
    display: flex;
    justify-content: center;
    width: 60px;
    text-transform: uppercase;
    background-color: #F89619;
    color: var(--white--color);
    font-size: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 33px;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 12px;
}
.hot {
    display: flex;
    justify-content: center;
    width: 30px;
    text-transform: uppercase;
    background-color: #E56D6D;
    color: var(--white--color);
    font-size: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 33px;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 12px;
}
/* end header  */

/* box image  */
.image-top {
    width: 100%;
    height: 900px;
    position: relative;
    margin-top: 0;
    background-image: url('../../assets/images/image-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.image-top__box {
    text-align: left;
    position: absolute;
    top: 250px;
    left: 100px;
    width: 20%;
    height: 50%;
}
.box-name {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 15px;
    font-family: "Be Vietnam Pro", sans-serif;
    position: relative;
    padding-left: 42px;
}
hr {
    border: none;           
    height: 1px;             
    background-color: #000;  
    width: 20px;            
    margin: 20px auto;
    position: absolute;
    bottom: -10px;
    left: 3px;
}
.box-title {
    font-size: 69px;
    font-weight: 200;
    line-height: 80px;
    margin-bottom: 35px;
    font-family: "Noto Sans", sans-serif;
}
.box-button {
    display: flex;
    align-items: center;
    width: 152px;
    height: 52px;
    border-radius: 4px;
    padding: 17px 29px 17px 29px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 18;
    background-color: var(--white--color);
    position: relative;
}
.shopnow-icon {
    position: absolute;
    right: 25px;
}
/* end box image  */

.image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
}
.image-left {
    width: 630px;
    height: 854px;
    position: relative;
    margin-top: 0;
    background-image: url('../../assets/images/image-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 630px 750px; 
    margin-right: 15px;
}
.image-left__title {
    font-size: 12px;
    font-weight: 600;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
    margin-top: 47px;
    margin-left: 39px;
    padding-left: 42px;
}
.image-right {
    width: 630px;
    height: 854px;
    margin-top: 0;
    background-image: url('../../assets/images/image-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 630px 854px;
    margin-left: 15px;
}
.image-box {
    width: 1290px;
    height: 300px;
    margin: 30px auto auto auto;
    background-image: url('../../assets/images/image-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 1290px 300px;
}
.image-box__content {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 92px;
    padding-left: 95px;
}
.image-box__content-content {
    width: 50%;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300;
    margin-bottom: 50px;
}
.image-box__content-shopnow {
    font-size: 15px;
    font-weight: 600;
    position: relative;
}
.title {
    display: flex;
    width: 100%;
    margin: 30px auto auto auto;
    justify-content: center;
    flex-direction: column;
}
.title__name {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    position: relative;
}
.title__name-line {
    border: none;
    height: 1px;
    background-color: #000;
    width: 20px;
    margin: 20px auto;
    position: absolute;
    bottom: 14px;
    left: auto;
}
.title__content {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 300;
    line-height: 54px;
}
.block {
    display: flex;
    width: 70%;
    margin: 30px auto auto auto;
}
.block-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.block-box__image {
    width: 414px;
    height: 553px;
    background-image: url('../../assets/images/image-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: auto;
}  
.block-box__content {
    display: flex;
    flex-direction: column;
    margin: auto;
} 
.block-box__name {
    color:#E8C592 ;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.block-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--black--color);
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.block-box__icon {
    display: flex;
    justify-content: center;
}
.active {
    color: #F89619;
}
.block-box__number {
    display: flex;
    font-size: 14px;
    opacity: 0.7;
}
.block-price {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    display: flex;
    justify-content: center;
}



.image-8 {
    width: 100%;
    height: 990px;
    background-image: url('../../assets/images/image-8.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-9 {
    width: 414px;
    height: 553px;
    background-image: url('../../assets/images/image-9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.image-10 {
    width: 100%;
    height: 990px;
    background-image: url('../../assets/images/image-10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.product {
    margin:30px auto auto auto  ;
    display: flex;
    width: 70%;
}
.product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.product-img {
    width: 306px;
    height: 409px;
    background-image: url('../../assets/images/image-5.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    margin: auto;
}
.product-box {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.product-name {
    color: #E8C592;
    font-size: 11px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.product-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--black--color);
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.product-icon {
    display: flex;
    justify-content: center;
}
.product-number{
    display: flex;
    font-size: 14px;
    opacity: 0.7;
}
.product-price {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    display: flex;
    justify-content: center;
}
.from-search {
    display: flex;
}
.search {
    width: 470px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin: 30px auto auto auto ;
}
