/* header  */
.header {
    width: 100%;
    background-color: var(--white--color);
    height: auto;
}
/* end header  */
.from-search {
    display: flex;
}
.search {
    width: 470px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    margin: 30px auto auto auto ;
}
