.header {
    width: 100%;
    background-color: var(--white--color);
    height: 110px;
}
.header__top {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header__top-phone {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    flex: 1;
    justify-content: center;
    font-family: "Be Vietnam Pro", sans-serif;
}
.header__top-shopio {
    display: flex;
    font-size: 25px;
    font-weight: 800;
    flex: 1;
    justify-content: center;
    font-family: "Be Vietnam Pro", sans-serif;
}
.header-icon {
    display: flex;
    flex: 1;
    justify-content: center;
}
.icon {
    margin-left: 10px;
}