@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --white--color: #FFFFFF;
    --bg--color: #F8F8F8;
    --black-color: #181A1B;
    --font: "noto serif", sans-serif;
}

*{
    box-sizing: inherit; /* kế thừa box-sizing của thẻ cha*/
}

html {
    font-size: 62.5%;  /* sẽ đặt lại cỡ chữ là 10px thay vì mặc định là 16px */
    line-height: 1.6rem; /* 16px*/
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
